
extends layout

block content
    div
        .page-title
            .title_left
                h3
                    | Categorias
            .title_right
                .col-md-5.col-sm-5.col-xs-12.form-group.pull-right.top_search(style="display:flex;justify-content:flex-end;")
                    span.input-group
                        a(href="/categoria/new")
                            button(type="button").btn.btn-primary Nueva categoria

        .col-md-12.col-sm-12.col-xs-12
            .x_panel
                .x_content
                    table#datatable-fixed-header.table.table-striped.table-bordered
                        thead
                            tr
                                th Id
                                th Nombre
                                th Prioridad
                                th Cantidad reportes
                                th Acciones
                        tbody
                            each dato in datos
                                tr.even.pointer
                                    td.a-center #{dato.idcategoria}
                                    td.a-center #{dato.nombre_cat}
                                    td.a-center #{dato.prioridad_cat}
                                    td.a-center #{dato.repor}
                                    td
                                        a(href="#") Borrar
                                        span |
                                        a(href="/categoria/#{dato.idcategoria}") Editar

