extends layout

block content
    style.
        blockquote {
            font-size: 15px;
        }
    div
        .page-title
            .title_left
                h3
                    | Reporte cliente local
                    small  #REPLOC#{data.info.idreporte}
            //.title_right
                .col-md-5.col-sm-5.col-xs-12.form-group.pull-right.top_search
                    .input-group
                        input.form-control(type='text', placeholder='Search for...')
                        span.input-group-btn
                            button.btn.btn-default(type='button') Go!
        .clearfix
        .row
            .col-md-12
                .x_panel
                    .x_title
                        h2 #{data.info.nombreReporte}
                        //ul.nav.navbar-right.panel_toolbox
                            li
                                a.collapse-link
                                    i.fa.fa-chevron-up
                            li.dropdown
                                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                                    i.fa.fa-wrench
                                ul.dropdown-menu(role='menu')
                                    li
                                        a(href='#') Settings 1
                                    li
                                        a(href='#') Settings 2
                            li
                                a.close-link
                                    i.fa.fa-close
                        .clearfix
                    .x_content
                        .col-md-8.col-sm-8.col-xs-12
                            ul.stats-overview
                                li
                                    span.name  Ultima actualización
                                    span#fec1.value.text-success #{new Date(data.info.fechaini).toLocaleString('en-GB', { timeZone: 'UTC' })}
                                li
                                    span.name  Fecha de entrega
                                    span#fec2.value.text-success #{new Date(data.info.fechamod).toLocaleString('en-GB', { timeZone: 'UTC' })}
                                li.hidden-phone
                                    span.name  Estado
                                    span.value.text-success  #{data.info.idestado}
                            br
                            .col-md-12
                                .col-md-55
                                    .thumbnail
                                        .image.view.view-first
                                            img(style='width: 100%; display: block;', src='/images/prod-2.jpg', alt='image')
                                            .mask.no-caption
                                                .tools.tools-bottom
                                                    a(href='#')
                                                        i.fa.fa-link
                                                    a(href='#')
                                                        i.fa.fa-pencil
                                                    a(href='#')
                                                        i.fa.fa-times
                                        .caption
                                            p
                                                strong Image Name
                                            p Snow and Ice Incoming
                                .col-md-55
                                    .thumbnail
                                        .image.view.view-first
                                            img(style='width: 100%; display: block;', src='/images/prod-2.jpg', alt='image')
                                            .mask.no-caption
                                                .tools.tools-bottom
                                                    a(href='#')
                                                        i.fa.fa-link
                                                    a(href='#')
                                                        i.fa.fa-pencil
                                                    a(href='#')
                                                        i.fa.fa-times
                                        .caption
                                            p
                                                strong Image Name
                                            p Snow and Ice Incoming

                            div
                                h4 Seguimiento & Comentarios
                                // end of user messages
                                br
                                textarea(id="textarea" required="required" name="textarea" class="form-control col-md-7 col-xs-12" style="min-width:100%; max-width:100%; width:100%; margin-bottom:1rem; min-height:70px;")

                                div.message_wrapper(style="padding-top:4em;margin-top:2rem;")
                                    .col-md-7
                                        button(id="send" type="submit" class="btn btn-success") Enviar
                                    .col-md-5(align="right")
                                        div.checkbox
                                            input(type="checkbox" value="" checked)
                                            | Privado

                                br
                            div
                                ul.messages
                                    div.message_wrapper(style="padding-top:3em;")
                                    each comentarioC in data.comentariosC
                                        li
                                            img.avatar(src='/images/perfil/user.png', alt='Avatar')
                                            .message_date
                                                h3.date.text-info #{new Date(comentarioC.fecha).getDay()}
                                                p.month #{ new Date(comentarioC.fecha).toDateString().split(' ')[1] }
                                            .message_wrapper
                                                h4.heading #{comentarioC.correocliente}
                                                    span.label.label-info(style="font-size: 10px;margin-left: 1rem;") Cliente
                                                blockquote.message
                                                    | #{comentarioC.cuerpo}
                                                br
                                                each file in comentarioC.archivos
                                                    p.url
                                                        span.fs1.text-info(aria-hidden='true', data-icon='')
                                                        a(href='#')
                                                            i.fa.fa-paperclip
                                                            |  #{file.ruta}
                                    each comentarioU in data.comentariosU
                                        li
                                            img.avatar(src='/images/perfil/#{comentarioU.idusuario}.jpg', alt='Avatar')
                                            .message_date
                                                h3.date.text-info #{new Date(comentarioU.fecha).getDay()}
                                                p.month #{ new Date(comentarioU.fecha).toDateString().split(' ')[1] }
                                            .message_wrapper
                                                h4.heading #{comentarioU.nombre}
                                                    span.label.label-primary(style="font-size: 10px;margin-left: 1rem;") Usuario Sicty
                                                    span.label.label-danger(class=comentarioU.isnota == '0' ? 'disNO' : 'disSi', style="font-size: 10px;margin-left: 1rem;") Privado
                                                blockquote.message
                                                    | #{comentarioU.cuerpo}
                                                    | #{comentarioU.idmensaje}
                                                br
                                                each file in comentarioU.archivos
                                                    p.url
                                                        span.fs1.text-info(aria-hidden='true', data-icon='')
                                                        a(href='#')
                                                            i.fa.fa-paperclip
                                                            |  #{file.ruta}

                                // end of user messages
                        // start project-detail sidebar
                        .col-md-4.col-sm-4.col-xs-12
                            section.panel
                                .x_title(style="margin-top: 12px;border-bottom: 1px solid #E6E9ED;")
                                    h2 Detalles
                                    .clearfix
                                .panel-body
                                    h3.green #{data.info.nombreReporte}

                                    div
                                        div(style="overflow: hidden;max-height: 100px;transition:all .5s;")#vdescription
                                            p
                                                | #{data.info.descripcion}
                                        a(href="#")#viewmore(style="opacity:1;transition:all .5s;") Ver mas...
                                        script(type="text/javascript").
                                            document.querySelector("a#viewmore").addEventListener('click', function(){
                                               document.querySelector("#vdescription").style="overflow: hidden;max-height: 1000px;transition:all .5s;"
                                                this.style="opacity:0;transition:all .5s;";
                                            });
                                    br
                                    div.row
                                        .project_detail.col-md-6
                                            p.title Empresa
                                            p Deveint Inc
                                            p.title Correo
                                            p #{data.info.correocliente}
                                            p.title Telefono
                                            p #{data.info.telefono1}
                                            p.title Categoria
                                            p
                                                a(href="#") #{data.info.idcategoria}
                                    br
                                    .text-center.mtop20
                                        a.btn.btn-sm.btn-primary(href='#') Add files
                                        a.btn.btn-sm.btn-warning(href='#') Report contact
                        // end project-detail sidebar

